header {
    .header {
        margin: 0%;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        padding: 5vmax;
        h1 {
            text-align: center;
            font-weight: 400;
            font-size: 3vmax;
        }
    }
}

section {
    margin: 10vmax;
    .main-content {
        padding-left: 8vmax;
        h1 {
            font-size: 2.2vmax;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 400;
            line-height: 5vh;
            padding-top: 5px;
            padding-bottom: 5px;
            letter-spacing: 0.1vmax;
        }
        .p {
            color: gray;
            letter-spacing: 0.2vmax;
        }
        p {
            max-width: 25vmax;
            line-height: 3vh;
            color: lightgray;
        }
        button {
            width: 10vw;
            height: 6vh;
        }
    }
    .image {
        height: 60vh;
        width: 30vw;
        position: relative;
        align-items: center;
        img {
            width: 100%;
            position: absolute;
        }
    }
}

.section1 {
    .div {
        text-align: center;
        h5 {
            color: gray;
            font-weight: 100;
            font-size: 1.5vmax;
        }
        h1 {
            font-size: 2.5vmax;
        }
    }
}

.section2 {
    padding-left: 6vmax;
    .row {
        .image-1 {
            display: flex;
            .f-image {
                width: 5vw;
                height: 5vh;
                img {
                    width: 100%;
                }
            }
            .s-image {
                width: 25vw;
                height: 25vh;
                img {
                    width: 100%;
                }
            }
        }
    }
}




// *Media Queries*

@media (max-width: 1200px) {
    section {
        .main-content {
            h1 {
                line-height: 3vh;
            }
            p {
                max-width: 300px;
            }
            button {
                width: 22vw;
                height: 6vh;
            }
        }
    }

    .section1 {
        margin-top: -8%;
    }
}

@media (max-width: 950px) {
    section {
        .main-content {
            h1 {
                line-height: 3vh;
            }
        }
    }
    .section1 {
        margin-top: -6%;
    }
}

@media (max-width: 870px) {
    section {
        .row {
            .main-content {
                padding: 0%;
            }
            .image {
                margin: 0%;
                margin-left: 6vmax;
            }
        }
    }
    .section1 {
        margin-top: -25%;
    }
}

@media (max-width: 770px) {
    section {
        margin: 1.8%;
        .row {
            flex-direction: column-reverse;
            .main-content {
                margin-top: 120px;
                padding-left: 60px;
                h1 {
                }
                .p {
                    letter-spacing: 0.2vmax;
                }
                p {
                    max-width: 900px;
                }
            }
            .image {
                margin: 0%;
                margin-left: 6vmax;
                width: 80vw;
            }
        }
    }
    .section1 {
        margin-top: 4%;
    }
}

@media (max-width: 700px) {
    section {
        .row {
            .main-content {
                margin-top: 10vh;
                p {
                    max-width: 800px;
                }
            }
        }
    }
    .section1 {
        margin-top: 7%;
    }
}

@media (max-width: 576px) {
    section {
        .row {
            .main-content {
                margin-top: 3vh;
            }
        }
    }
}
@media (max-width: 487px) {
    section {
        .row {
            .main-content {
                margin-top: -5vh;
                p {
                    max-width: 700px;
                }
            }
        }
    }
    .section1 {
        margin-top: -3%;
    }
}
@media (max-width: 480px) {
    section {
        .row {
            .main-content {
                margin-top: -10vh;
                button {
                    width: 40vw;
                }
                p {
                    max-width: 600px;
                }
            }
        }
    }
    .section1 {
        margin-top: 12%;
    }
}

@media (max-width: 363px) {
    section {
        .row {
            .main-content {
                margin-top: -20vh;
            }
            .image {
                img {
                    left: -6%;
                }
            }
        }
    }
    .section1 {
        margin-top: 10%;
    }
}
