<header>
  <div class="header">
    <h1>Find Your Dream Job</h1>
  </div>
</header>

<section>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="main-content">
        <p class="p">ABOUT ME</p>
        <h1>Always work together in</h1>
        <h1>teams and always form</h1>
        <h1>good communication.</h1>
        <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
          <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="image">
        <img src="assets/demo.png" alt="">
      </div>
    </div>
  </div>
</section>